@import "components/buttons.css";
@import "components/custom-utilities.css";
@import "components/forms.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-handwriting {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
